# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\xmy_idea\06vrd\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
